body {
    font-family: Arial, sans-serif;

    padding-top: 50px;
    background-color: #ffffff;
  }
  .score-box {
    font-size: 2em;
    background: #fff;
    
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

li ,h1{    
  text-align: center;
}

.partie1{
background-color: aquamarine;
  
}

.partie2{
background-color: rgb(127, 255, 133);
}

.partie3{
background-color: rgb(197, 127, 255);
}









img{
  width: 150px;
}


li{
    list-style: none;
    padding: 10px;
    margin: 10px;
}


  ul{
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;

  }


  header{
    background-color: chocolate;
  }

  footer{
    background-color: yellowgreen;
  }